@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  background-color: var(--bg-black);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --bg-black: #000000;
  --subtitle: #B8BBC1;
  --title: #fff;
}

.radial {
  background-color: radial-gradient(at center top, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}

.button {
  border-radius: 10px;
  color: #fff;
  background-color: #000000;
  border-color: var(--color-blue-900) /* oklch(54.6% 0.245 262.881) = #155dfc */;
  width: 150px;
  height: 40px;
}

.button:hover {
  color: black;
  background-color: #fff;
}

.blur-bg {
  background-color: rgba(255, 255, 255, 0.041); 
  backdrop-filter: blur(20px);              
  -webkit-backdrop-filter: blur(20px);                  
}

.nav-item {
  color: var(--subtitle);
}

.nav-item:hover {
  color: var(--title);
}

.classe-livre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  border-radius: 5px;
  background-color: white;
  border: 2px;
  padding: 5px;
  margin-bottom: 10px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.gradient-text {
  background: linear-gradient(270deg, #5c9af6, #4858ec, #4447ef);
  background-size: 400% 400%;
  animation: gradientShift 3s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo-responsivo {
  font-weight: bold;
  color: #fff;
}

.subtitulos {
  font-weight: 500;
  color: rgb(175, 173, 173);
  text-align: center;
}

/* Telas pequenas (celulares) */
@media (max-width: 600px) {
  .titulo-responsivo {
    font-size: 1.5rem;
  }
  .subtitulos{
    font-size: 10px;
  }
}

/* Telas médias (tablets) */
@media (min-width: 601px) and (max-width: 768px) {
  .titulo-responsivo {
    font-size: 2rem;
  }
  .subtitulos {
    font-size: 20px;
  }
}

/* Telas grandes (notebooks e desktops) */
@media (min-width: 769px) and (max-width: 1200px) {
  .titulo-responsivo {
    font-size: 2.5rem;
  }
  .subtitulos {
    font-size: 20px;
  }
}

/* Telas muito grandes (monitores maiores) */
@media (min-width: 1201px) {
  .titulo-responsivo {
    font-size: 3rem;
  }
  .subtitulos {
    font-size: 20px;
  }
}
