@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  background-color: var(--bg-black);
  font-family: 'Poppins', sans-serif;
}

:root {
  --bg-black: #000000;
  --subtitle: #B8BBC1;
  --title: #fff;
}

.nav-item {
  color: var(--subtitle);
}

.nav-item:hover {
  color: var(--title);
}